@use '@/styles/variables' as var;
@use '@/styles/mixin' as mixin;

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .header_right{
        display: flex;
        align-items: center;
        gap: 10px;

        .user_profile{
            display: flex;
            gap: 5px;
            align-items: center;
            color: var.$primary-text-color;
            position: relative;

            & span{
                font-size: 14px;
                font-weight: 500;
            }
            & .logout_container {
                border-radius: 5px;
                box-shadow: inset 0 0 5px #FFF;
                padding: 10px;
                
                width: 100px;
                height: 70px;
                position: absolute;
                right: 0;
                top: 55px;
                background-color: var.$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;

            }

        }
    }

    @include mixin.md{
        padding: 0;
    }
}

