@use "./functions" as fn;

:global(:root) {
    --background-color: #E9FBF7;
    --primary-color: #28CBA3;
    --primary-text-color: #333333;
    --sidebar-text-color: #FFFFFF;
    --secondary-background-color: #FFFFFF;
    --sidebar-active:#333333;
    --input-bg-color:#FFFFFF;
}
 
:global([data-theme='dark']) {
    --background-color: #181A1E;
    --primary-color: #202528;
    --primary-text-color: #FFFFFF;
    --sidebar-text-color: #7D8DA1;
    --secondary-background-color: #272234;
    --sidebar-active:#6C9BCF;
    --input-bg-color:#333333;
}
  
$background-color: var(--background-color);
$sidebar-background-color: var(--primary-color);
$primary-text-color: var(--primary-text-color);
$sidebar-text-color: var(--sidebar-text-color);
$secondary-background-color: var(--secondary-background-color);
$sidebar-active: var(--sidebar-active);
$input-bg-color: var(--input-bg-color);
$submit-btn-bg-color: #5596B4;
$submit-btn-text-color: #FFFFFF;
$cancel-btn-bg-color: #FFFFFF;
$cancel-btn-text-color: #5596B4;
$btn-border-color: #5596B4;

// CARD
$card-boxshadow: 0 3px 6px rgb(0 0 0 / 16%);
$hover-boxshadow: 0 3px 6px rgb(255 255 2255 / 16%);

// sp font
$font-sp-l: fn.get-vw(19px);
$font-sp-xl: fn.get-vw(24px);

// PC font
$font-pc-xs: 10px;
$font-pc-s: 13px;
$font-pc-m: 16px;
$font-pc-l: 19px;
$font-pc-xl: 24px;